# Ignore everything
*
!*/

# Don't ignore .gitignore
!.gitignore
!*.yml
!README.md
!*Rmd
!*html
!/Figure_Reproduce/*

# Don't ignore Python files
!*.py

# Ignore content in Prediction/assets directory but keep the directory
/Prediction/assets/*
!/Prediction/assets/.gitkeep

# Python specific ignores (optional)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg